*,
::before,
::after {
  box-sizing: border-box;
}

:root {
	--primaryColor: dodgerblue;;
	--mainWhite: #fff;
	--mainBlack: #222;
	--mainGrey: #ececec;
	--mainSpacing: 0.1rem;
	--mainTransition: all 0.3s linear;
}

/* html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
} */


/* Navbar */
.navbar {
	position: sticky;
	top: 0;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	background: rgb(231, 226, 221);
	z-index: 1;
}

.nav-link {
	text-transform: uppercase;
	font-size: 0.9rem;
	letter-spacing: var(--mainSpacing);
	color: var(--mainBlack);
}

.nav-link:hover {
	color: var(--primaryColor);
}

li {
	list-style: none;
	text-decoration: none;
}

li a {
	text-decoration: none;
}

.menu-toggle {
	display: none;
}

.nav-list {
	background-color: var(--main-font-color-dark);
	display: flex;
	gap: 2.3rem;
}

.logo {
	display: none;
}

.navbar-center {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.5rem;
}

.showMenu {
	transform: translateX(0);
}

.nav-icon {
	font-size: 1.5rem;
}

.navbar img {
	width: 50px;
}

.cart-btn {
	position: relative;
	cursor: pointer;
}

.cart-items {
	position: absolute;
	top: -8px;
	right: -8px;
	background: var(--primaryColor);
	padding: 0 5px;
	border-radius: 30%;
	color: var(--mainWhite);
}

/* end of nav*/


.main {
    font-size: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem;
    margin-right: 2rem;
}
  
.product-item {
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding-bottom: 1rem;
    width: 305px;
    height: 452px;
}
  
/* .product-item img {
    width: 100%;
    /* object-fit: cover; 
} */
  
.product-item h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}
  
.product-item h3 {
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 0;
}

.product-item h4 {
    font-size: 16px;
    color: black;
    text-align: center;
    margin: 0;
}
  
.product-item p:first-of-type {
    text-align: center;
    color: black;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 14px;
}
  
  .product-item__content {
    padding: 1rem;
    text-align: center;
    padding-top: 0;
  }
  
  li {
    margin: 0;
  }
  
input, button {
    background: dodgerblue;
    color: white;
    border: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font: inherit;
    cursor: pointer;
    outline: 0;
    margin-top: 0.5rem;
    font-size: 16px;
    font-weight: 600;
}
  
input:hover,
input:active {
    background-color: white;
    color: dodgerblue;
}
  
input:last-of-type {
    background-color: white;
    color: red;
}
  
input:last-of-type:hover,
input:last-of-type:active:hover {
    background-color: red;
    color: white;
}
  
.rem-1 .rem-2 .rem-3 .rem-4 {
    color: red;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}